* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#Home {
  background-color: rgb(255, 240, 242);
  padding: 20vh 0 0 0;
  overflow-x: hidden;
}

header,
#MV {
  text-align: center;
}

main {
  margin-top: 30vh;
}

section {
  display: inline-flex;
  height: 100vh;
  padding: 15vh 0;
}

#Twice {
  display: block;
  padding: 4vh 0;
  text-align: center;
}

#Twice img {
  width: 50vw;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a {
  color: #ff5fa2;
  font-family: 'Permanent Marker', sans-serif;
  transition: all 0.1s ease;
}

.value:hover,
.property:hover+.value,
a:hover {
  text-shadow: 1px 1px 0 #a754a2;
}

.picture-side,
.info-side {
  width: 50vw;
}

.info-side {
  padding: 5vmin;
}

.picture-side img {
  margin: 2vmin 0;
  width: 100%;
}

#MV * {
  margin-top: 30vh;
  width: 75vw;
  height: 75vh;
}

#TwiceLogo {
  animation: TWICE 1s;
  width: 50vw;
  height: 50vh;
  transition: all 0.25s ease;
}

#TwiceLogo:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 0 #a754a2);
}

#TwiceLogo:active {
  animation: CLICK 1s;
}

footer {
  font-size: 32px;
  padding: 5vmin;
  text-align: right;
}

.logo {
  width: 32px;
}

@keyframes TWICE {
  0% {
    width: 25vw;
  }

  50% {
    width: 50vw;
  }

  75% {
    width: 75vw;
  }

  100% {
    width: 50vw;
  }
}

@keyframes CLICK {
  from {}

  to {
    width: 49vw;
  }
}

@media only screen and (max-width: 800px) {
  #Twice {
    padding: 10vh 0;
  }

  #Twice img {
    width: 75vw;
  }
}

@media only screen and (max-width: 480px) {
  #MV {
    display: none;
  }

  section {
    display: block;
    width: 100vw;
  }

  .picture-side,
  .info-side {
    background-color: #fcc89b;
    width: 100vw;
  }
  
  .picture-side img {
    margin: 0;
  }
}