* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#Home {
  background-color: rgb(255, 240, 242);
  padding: 20vh 0 12.5vh 0;
  overflow-x: hidden;
}

header {
  text-align: center;
}

main {
  margin-top: 30vh;
}

section {
  color: #ff5fa2;
  display: inline-flex;
  font-family: 'Permanent Marker', cursive;
  height: 100vh;
  padding: 15vh 0;
}

#All {
  display: block;
  padding: 4vh 0;
  text-align: center;
}

#All img {
  width: 50vw;
}

h2 a,
#All a {
  color: inherit;
  text-decoration: none;
}

h2,
p span {
  transition: all 0.1s ease;
}

h2 > *:hover,
.value:hover,
.property:hover+.value,
#All a:hover {
  text-shadow: 1px 1px 0 #a754a2;
}

.picture-side,
.info-side {
  width: 50vw;
}

.info-side {
  padding: 5vmin;
}

.picture-side img {
  margin: 2vmin 0;
  width: 100%;
}

#DROPZONE {
  /* display: none; */
  text-align: center;
}

#DROPZONE * {
  margin-top: 30vh;
  width: 75vw;
  height: 75vh;
}

#TWICE {
  animation: TWICE 1s;
  width: 50vw;
  height: 50vh;
  transition: all 0.25s ease;
}

#TWICE:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 0 #a754a2);
}

#TWICE:active {
  animation: CLICK 1s;
}

@keyframes TWICE {
  0% {
    width: 25vw;
  }

  50% {
    width: 50vw;
  }

  75% {
    width: 75vw;
  }

  100% {
    width: 50vw;
  }
}

@keyframes CLICK {
  from {}

  to {
    width: 49vw;
  }
}

@media only screen and (max-width: 700px) {
  #All img {
    width: 75vw;
  }
}

@media only screen and (max-width: 480px) {
  #DROPZONE {
    display: none;
  }

  section {
    display: block;
    width: 100vw;
  }

  .picture-side,
  .info-side {
    background-color: #fcc89b;
    width: 100vw;
  }
  
  .picture-side img {
    margin: 0;
  }
}